:root[data-theme="light"] {
  --selection-bg-color: rgb(33, 150, 243);
  --selection-fg-color: rgb(255, 255, 255);
  --divider-color: #d0d0d0;
  --toolbar-bg-color: rgb(243,243,243);
  --toolbar-fg-color: #5a5a5a;
  --button-border-color: rgba(0,0,0,0.2);
  --button-bg-color: ButtonFace;
}
